.timeBox {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.timeBox span {
  display: block;
  font-weight: bold;
}

.label {
  font-size: 18px;
}