/* *{
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  color: #1f1f1f;
} */

.container {
  padding: 20px 10px;
  display: flex;
  height: 99.9vh;
  justify-content: center;
  align-items: start;
}

.recibo {
  max-width: 500px;
  /* min-width:150px; */
  background: #fff;
  box-shadow: 5px 5px 19px #ccc;
  padding: 20px;
}


/* Modo oscuro */
.container.darkMode {
  background-color: #1f1f1f;
  color: #ffffff;
}

.recibo.darkMode {
  background-color: #2d2d2d;
  color: #ffffff;
  box-shadow: 5px 5px 19px #000;
}

.recibo.darkMode h1,
.recibo.darkMode h6,
.recibo.darkMode p {
  color: #ffffff;
}

@media print {
  .noPrint {
    display: none;
  }

  /* Configuración de tamaño de página */
  @page {
    size: A4;
  }

}