/* *{
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  color: #1f1f1f;
} */

.container {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.recibo {
  max-width: 500px;
  /* min-width:150px; */
  background: #fff;
  box-shadow: 5px 5px 19px #ccc;
  padding: 20px;
}
.datosEmpresa p{
  margin: 0;
  padding: 0;
}

@media print {
  .noPrint {
    display: none;
  }
  /* Configuración de tamaño de página */
  @page {
    size: A4;
  }
 
}